# Ignore virtual environment
.venv/

# Ignore Python cache files
*.pyc
*.pyo
__pycache__/

# Ignore local development files
.env
*.log
*.sqlite3
*.db
.DS_Store

# Ignore Git files
.git
.gitignore

# Ignore IDE/project files
.vscode/
.idea/
*.swp
